.wrapper {
    width: 90vw;
    margin: auto;
}

.title {
    font-size: 2rem;
}

.bayan_row {
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 2px solid gray;
    margin: 0.5rem 0;
}

.row_title {
    width: 80%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: .5rem 0;
}

.row_icon {
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('assets/icons/plus.svg');
    background-size: cover;
}

.row_img {
    width: 70%;
    padding-bottom: 0;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .3s;
}

.meme-1 {
    background-image: url('assets/memes/meme-1.png');
}

.meme-2 {
    background-image: url('assets/memes/meme-2.png');
}

.meme-3 {
    background-image: url('assets/memes/meme-3.png');
}

.meme-4 {
    background-image: url('assets/memes/meme-4.png');
}

.meme-5 {
    background-image: url('assets/memes/meme-5.png');
}

.meme-6 {
    background-image: url('assets/memes/meme-6.png');
}

.meme-7 {
    background-image: url('assets/memes/meme-7.png');
}

.meme-8 {
    background-image: url('assets/memes/meme-8.png');
}

.bayan_check {
    display: none;
}

.bayan_check:checked~.row_icon {
    background-image: url('assets/icons/x.svg');
}

.bayan_check:checked~.row_img {
    padding-bottom: 70%;
    transition: .3s;
}

.bayan_check:checked~.row_title {
    color: blue;
}

@media (min-width: 500px) {
    .title {
        font-size: 2.5rem;
    }

    .row_title {
        font-size: 2rem;
    }

    .row_icon {
        height: 2rem;
        width: 2rem;
    }

    .row_img {
        width: 50%;
    }

    .bayan_check:checked~.row_img {
        padding-bottom: 50%;
    }

    @media (min-width: 900px) {
        .wrapper {
            width: 60vw;
        }

        .title {
            font-size: 3rem;
        }

        .row_title {
            font-size: 2.5rem;
        }

        .row_icon {
            height: 2.5rem;
            width: 2.5rem;
        }

        .row_img {
            width: 40%;
        }

        .bayan_check:checked~.row_img {
            padding-bottom: 40%;

        }